.example-card {
  max-width: 400px;
  background-color:#f5f5f5
}
.center-content {
    margin-top: 100px;
    text-align: -webkit-center;
    background-color: #591aa0;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.card-title{
  text-align:center;
}
.example-full-width {
    margin-top: 10px;
  width: 100%;
}
.password-validation-message{
  color:red;
}
.validation-message{
  color:red;
}


/* .mat-button{
  margin-top: 10px;
  width: 100%;
  color: rgb(12, 10, 179);
  height: 40px;
  background-color: #223dd4;
} */

.mat-button {
  margin-top: 10px;
  width: 100%;
  color: #fff;
  height: 40px;
  background-color: #223dd4;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mat-button:hover {
  background-color: #1a2c8b;
}


